.bg-c1{ height:500px; background-image:url("https://cdn.shopify.com/s/files/1/0610/5648/3573/files/descarga_jpg.jpg?v=1669130823"); background-repeat:no-repeat; background-size:cover; display:flex; align-items:center; justify-content:center;  } 

.bg-box-c1{ background:#f2f2f2; padding:150px; display:flex; align-items:center; justify-content:center; }

.bg-c2{ background:white; display:flex; align-items:center; justify-content:center;}